<ion-view>
    <div class="Grid Config-grid">
        <div class="row row-center Grid-cell Grid-cell--center center_text">
            <div class="col col-100 config-text"> Configurations</div>
        </div>
        <div class="row row-center Grid-cell">
            <div class="col col-25 config-text config-buttons">
                <ul class="list">
                    <li class="item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        Vibrate
                    </li>
                </ul>
            </div>
        </div>
        <div class="row row-center Grid-cell">
            <div class="col col-25 config-text config-buttons">
                <ul class="list">
                    <li class="item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        Music
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-view>