<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Desafio</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col col-33 text-center">
                <img src="{{cartasParaDesafio[0].file}}" width="100%" />
            </div>
            <div class="col col-33 text-center">X</div>
            <div class="col col-33 text-center">
                <img src="img/cards/cardback.png" width="100%" />
            </div>
        </div>
    </ion-content>
</ion-modal-view>