<ion-view>
    <ion-content scroll="false" class="tabuleiro">
    	<section class="left">
    		<div class="buttons-player vertical" ng-show="showAtributos">
    			<button ng-click="selecionado('strength')">Strength {{ card().status.strength }}</button>
		    		<button ng-click="selecionado('intelligence')">Intelligence {{ card().status.intelligence }}</button>
		    		<button ng-click="selecionado('skills')">Skills {{ card().status.skills }}</button>
		    		<button ng-click="selecionado('charisma')">Charisma {{ card().status.charisma }}</button>
		    		<button ng-click="selecionado('influence')">Influence {{ card().status.influence }}</button>
    		</div>
    		<div ng-click="enableAtributos()" class="card-player vertical" ng-style="{'background':'url({{ card().file }}) no-repeat', 'background-size': 'cover',
  				'background-position': 'center'}">
	    	</div>
    	</section>
    	<section class="right">
    		<div class="buttons-player vertical" ng-if="isAdversarioOk">
    			<button ng-click="selecionado('strength')">Strength {{ another.status.strength }}</button>
		    		<button ng-click="selecionado('intelligence')">Intelligence {{ another.status.intelligence }}</button>
		    		<button ng-click="selecionado('skills')">Skills {{ another.status.skills }}</button>
		    		<button ng-click="selecionado('charisma')">Charisma {{ another.status.charisma }}</button>
		    		<button ng-click="selecionado('influence')">Influence {{ another.status.influence }}</button>
    		</div>
    		<div ng-click="enableAtributos()" ng-if="isAdversarioOk" class="card-player vertical" ng-style="{'background':'url({{ another.file }}) no-repeat', 'background-size': 'cover',
  				'background-position': 'center'}">
	    	</div>
    	</section>
    </ion-content>
</ion-view>