<ion-view>
    <!-- <audio id="clicado"> <source src="/sound/click.mp3" type="audio/mpeg"> </audio> -->
    <div class="Grid Menu-grid"> <!-- 292420 -->
        <div class="row row-center Grid-cell Grid-cell-top Grid-cell--center ">
            <div class="col col-25 menu-button-left" ng-click="credits()"><p> Credits</p></div>
            <div class="col col-offset-20"><p></p></div>
            <div class="col col-offset-10"><p></p></div>
            <div class="col col-25 col-offset-10 menu-button-right" ng-click="army()"><p> Battle</p></div>
        </div>
        <div class="row row-center Grid-cell Grid-cell--center">
            <div class="col col-25 menu-button-left" ng-click="config()"><img id="menu-image-size" src="../img/menu/config.png"></div>
            <div class="col col-offset-20"><p></p></div>
            <div class="col col-offset-10"><p></p></div>
            <div class="col col-25 col-offset-10" id="menu-mid-button" ng-click="army()"><p> Army</p></div>
        </div>
        <div class="row row-center Grid-cell Grid-cell-bottom Grid-cell--center">
            <div class="col col-25 menu-button-left" ng-click="exit()"><p > Exit</p></div>
            <div class="col col-offset-20"><p></p></div>
            <div class="col col-offset-10"><p></p></div>
            <div class="col col-25 col-offset-10 menu-button-right" ng-click="shop()"><p> Shop</p></div>
        </div>
    </div>
</ion-view>