<ion-view>
    <div class="Grid Config-grid">
        <div class="Grid-header">
            <div class="row row-center Grid-cell">
                <div class="col col-20">
                    <p><img style="width: 10vw" src="/android_asset/www/img/menu/back.png" ui-sref="menu"></div>
                </p>
            </div>
        </div>
        <div class="row row-center Grid-cell">
            <div class="col col-33"></div>
            <div class="col col-33">
                <button class="button button-block icon-left ion-person button-positive" ui-sref="game">Jogar Offline</button>
                <button class="button button-block icon-left ion-person-stalker button-balanced" ui-sref="multiplay">Multiplay</button>
            </div>
        </div>
    </div>
</ion-view>