.menu-fundo {
    background: url('../img/menu/menu.jpg') no-repeat center;
    position: absolute;
    background-size: 100%;
}

.botton-battle {
    position: absolute;
    background-size: 55%;
    
    left: 35vh;
    top: 90vh;
    border: none;
}

.botton-battle:active {
    background-size: 53%;
}

.botton-army {
    background: url('../img/menu/army.png') no-repeat;
    position: absolute;
    background-size: 55%;
    width: 75px;
    height: 190px;
    left:171px;
    top: 507px;
    border: none;
}

.botton-army:active {
    background-size: 53%;
}

.botton-shop {
    background: url('../img/menu/shop.png') no-repeat;
    position: absolute;
    background-size: 60%;
    width: 83px;
    height: 169px;
    left: 50px;
    top: 500px;
    border: none;
}

.botton-shop:active {
    background-size: 58%;
}

.botton-credits {
    background: url('../img/menu/credits.png') no-repeat;
    position: absolute;
    background-size: 55%;
    width: 82px;
    height: 267px;
    left: 270px;
    top: 55px;
    border: none;
}

.botton-credits:active {
    background-size: 53%;
}

.botton-config {
    background: url('../img/menu/config.png') no-repeat;
    position: absolute;
    background-size: 55%;
    width: 102px;
    height: 130px;
    left: 170px;
    top: 80px;
    border: none;
}

.botton-config:active {
    background-size: 53%;
}

.botton-exit {
    background: url('../img/menu/exit.png') no-repeat;
    position: absolute;
    background-size: 55%;
    width: 81px;
    height: 138px;
    left: 55px;
    top: 80px;
    border: none;
}

.botton-exit:active {
    background-size: 53%;
}